*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

body{
    background: #E5E5E5;
}



header{
    width: 100%;
    height: 60px;
    
}

.logo{
    margin-left: 10px;
    margin-top: 10px;
}

main{
    width: 100%;
    height: 90%;
    
    display: flex;
    justify-content: space-between;
}

section{
    width: 40%;
    height: 100%;
    
}

.seccion1{
    width: 70%;
}



.seccion2{
    width: 22%;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1) ; 
    margin-right: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.textarea{
    width: 70%;
    height: 60%;
    display: block;
    margin: auto;
    margin-top: 23px;
    resize: none;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    background: transparent;
    border: none;
    color: #0A3871;
    outline: none;
}

::placeholder{
    color: #0A3871;
    background: transparent;
}


.aviso{
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 2px;
}



.aviso-img, .parrafo-aviso{
    display: flex;
    justify-content: center;
    }


.boton-encriptar{
    background: #0A3871;
    border-radius: 24px;
    color: white;
    border: 1px solid;
    border-color: #0A3871;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.boton-desencriptar{
    background: #D8DFE8;
    border: 1px solid;
    border-color: #0A3871;
    color: #0A3871;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 24px;
}

.boton-desencriptar:hover, .boton-encriptar:hover{
    cursor: pointer;
}


.boton-desencriptar, .boton-encriptar{
    width: 340px;
    height: 55px;
}


.parrafo-aviso{
    padding-left: 5px;
    color: rgba(73, 80, 87, 1);
    font-size: 17px;
}

.avisos{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}



.botones{
    text-align: center;
    margin-top: 200px;
    
}


.contenedormuneco{
    width: 100%;
    height: 60%;
    padding-top: 120px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border-radius: 24px;
    background: #ffffff ;
}

.contenedor-nm{
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.parrafo-nm{
    padding-top: 7px;
}

.encriptacion{
    width: 100%;
    height: 70%;
    margin: 7px;
    box-sizing: border-box;
}

.copiar{
    width: 100%;
    height: 20%;
    align-items: flex-end;

}


.boton-copiar:hover{
    cursor: pointer;
}


.boton-copiar{
    border: 1px solid;
    border-color: #0A3871;
    color: #0A3871;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 24px;
    width: 65%;
    height: 65px;
    display: block;
    margin: auto;
    margin-top: 170px;
    background: rgba(255, 255, 255, 1);


}

.texto-encriptado{
    text-align: center;
    font-size: 22px;
    outline: none;
    border: none;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'Inter', sans-serif;
}



footer{
    width: 100%;
    height: 50px;
    text-align: center;
    
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}

.ocultar{
    display: none;
}